<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 根标签 -->
<configuration>
	<!-- 指定资源文件 -->
	<properties resource="jdbc.properties"></properties>
	<!-- 设置Mybatis的log实现为LOG4J -->
	<settings>
		<setting name="logImpl" value="LOG4J" />
	</settings>
	<!-- 环境，可以配置多个，default：指定采用哪个环境 -->
	<environments default="Driver">
		<!-- id：唯一标识 -->
		<environment id="Driver">
			<!-- 事务管理器，JDBC类型的事务管理器 -->
			<transactionManager type="JDBC" />
			<!-- 数据源，池类型的数据源 -->
			<dataSource type="POOLED">
				<property name="driver" value="${DBDriver}" />
				<property name="url"	value="${DBUrl}" />
				<property name="username" value="${DBUser}" />
				<property name="password" value="${DBPassword}" />
			</dataSource>
		</environment>
	</environments>
	
	<!-- 配置mapper映射文件 -->
	<mappers>
		<mapper resource="mapper/AdminMapper.xml" />
		<mapper resource="mapper/ReaderMapper.xml" />
		<mapper resource="mapper/BookMapper.xml" />
		<mapper resource="mapper/ReadRecordMapper.xml" />
		
	</mappers>

</configuration>